<nav class="navbar navbar-expand fixed-top">
  <div class="container wrap">
      <div class="navbar-translate">
          <a class="navbar-brand" href="/">NEWS-411</a>
      </div>
      <ul class="navbar-nav mr-5">
          <li class="nav-item">
              <a href="" class="nav-link">Business</a>
          </li>
          <li class="nav-item">
              <a href="" class="nav-link">Entertainment</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">General</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Health</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Science</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Sports</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Technology</a>
        </li>
      </ul>
  </div>
</nav>